PORT=8080
JWT_SECRET=tu_secreto_aqui
MAIL_USER=tu_email@gmail.com
MAIL_PASS=tu_app_password_aqui
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/dbname
API_URL=https://tu-api.com
FRONT_URL=https://tu-front.com
